<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyGBUApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyGBU"
        tools:targetApi="31">
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.MyGBU.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        
        <!-- Faculty Activities -->
        <activity
            android:name=".FacultyDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".AssignmentManagementActivity"
            android:exported="false" />
        <activity
            android:name=".CoursesActivity"
            android:exported="false" />
        <activity
            android:name=".AttendanceActivity"
            android:exported="false" />
        <activity
            android:name=".StudentPerformanceActivity"
            android:exported="false" />
        <activity
            android:name=".LeaveRequestsActivity"
            android:exported="false" />
        <activity
            android:name=".FacultyHubActivity"
            android:exported="false" />
        <activity
            android:name=".MessagesActivity"
            android:exported="false" />
        <activity
            android:name=".ScheduleActivity"
            android:exported="false" />
        <activity
            android:name=".NotificationsActivity"
            android:exported="false" />
        <activity
            android:name=".AnalyticsActivity"
            android:exported="false" />
        <activity
            android:name=".QuickActionsActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        
        <!-- Student Activities -->
        <activity
            android:name=".StudentDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".StudentProfileActivity"
            android:exported="false" />
        <activity
            android:name=".StudentAssignmentsActivity"
            android:exported="false" />
        <activity
            android:name=".StudentAttendanceActivity"
            android:exported="false" />
        <activity
            android:name=".StudentExamsActivity"
            android:exported="false" />
        <activity
            android:name=".StudentFeesActivity"
            android:exported="false" />
        <activity
            android:name=".StudentScheduleActivity"
            android:exported="false" />
        <activity
            android:name=".StudentPlacementActivity"
            android:exported="false" />
        <activity
            android:name=".StudentHostelActivity"
            android:exported="false" />
        <activity
            android:name=".StudentGrievanceActivity"
            android:exported="false" />
        
        <!-- Admin Activities -->
        <activity
            android:name=".AdminDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".AdminOnboardingActivity"
            android:exported="false" />
        <activity
            android:name=".AdminCourseMappingActivity"
            android:exported="false" />
        <activity
            android:name=".AdminExamManagementActivity"
            android:exported="false" />
        <activity
            android:name=".AdminDegreeAuditActivity"
            android:exported="false" />
        <activity
            android:name=".AdminApprovalsActivity"
            android:exported="false" />
        <activity
            android:name=".AdminProjectTrackingActivity"
            android:exported="false" />
        <activity
            android:name=".AdminFileTrackingActivity"
            android:exported="false" />
        <activity
            android:name=".AdminOperationsActivity"
            android:exported="false" />
    </application>

</manifest>