<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Permission to read system logs (may not work on newer Android versions) -->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!-- Permission for clipboard access -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyGBUApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/download"
        android:label="@string/app_name"
        android:roundIcon="@drawable/download"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyGBU"
        tools:targetApi="31">
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.MyGBU.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.MyGBU.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".FacultyDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".AssignmentManagementActivity"
            android:exported="true" />
        <activity
            android:name=".CoursesActivity"
            android:exported="true" />
        <activity
            android:name=".AttendanceActivity"
            android:exported="false" />
        <activity
            android:name=".StudentPerformanceActivity"
            android:exported="false" />
        <activity
            android:name=".LeaveRequestsActivity"
            android:exported="false" />
        <activity
            android:name=".FacultyHubActivity"
            android:exported="false" />
        <activity
            android:name=".MessagesActivity"
            android:exported="false" />
        <activity
            android:name=".ScheduleActivity"
            android:exported="false" />
        <activity
            android:name=".NotificationsActivity"
            android:exported="false" />
        <activity
            android:name=".AnalyticsActivity"
            android:exported="false" />
        <activity
            android:name=".QuickActionsActivity"
            android:exported="false" />
    </application>

</manifest>